body{
    background-color: black;
    
}

.test {
    color: black;
}

h2{
    color: white;
}

div.card:hover{
    background: rgb(232, 235, 202);
    border: 1px rgb(209, 209, 209) solid !important;
}

#buttoncontainer {
    border-radius: 0px;
    margin: 0px !important;
    padding: 30px 32px 20px 32px;
}

#stickytop {
    position: sticky;
    top: 0px;
    border-radius: 0px;
    margin: 0px !important;
    z-index: 2;
    padding: 20px 32px 10px;
}


.button {
    position: relative;
    padding-right: 25px;
}

.close {
    position: absolute;
    right: 6px;
    top: 2px;
    color: white;
    font-weight: normal;
}

#sidebar {}

.leftcolumn {
    position: absolute;
    overflow-y: scroll;
    left: 0;
    height: 100%;
}

.rightcolumn {
    position: absolute;
    overflow-y: scroll;
    right: 0;
    height: 100%;
}

#sidebarheader {
    color: white;
    position: sticky;
    top: 0px;
    z-index: 2;
    margin: 0px !important;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    background-color: black;
}

@media (max-width: 760px) {
    .leftcolumn {
        position: absolute;
        overflow-y: scroll;
        height: 55%;
    }
    
    .rightcolumn {
        position: absolute;
        overflow-y: scroll;
        top: calc(55% + 52px);
        height: calc(45% - 52px);
        background-color: teal;
    }

    #sidebarheader {
        position: fixed;
        top: 55vh;
        left: 0;
        margin: 0px !important;
        padding-top: 12px;
        padding-bottom: 12px;
        width: 100vw;
        padding-left: 10px;
        background-color: teal;
    }
}

@media (max-width: 760px) and (min-width: 576px) {
    #sidebarimage {
        width: 40%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
    }
}

@media (max-width: 576px) {
    #massivecontainer {
        width: 70%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    #sidebarimage {
        padding: 0px 15px;
        width: 70%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
    }
}

/* https://css-tricks.com/scroll-fix-content/ */