body{
    background-color: black;
    
}

.test {
    color: black;
}

h2{
    color: white;
}

div.card:hover{
    background: rgb(232, 235, 202);
    border: 1px rgb(209, 209, 209) solid !important;
}

#buttoncontainer {
    border-radius: 0px;
}

.button {
    position: relative;
    padding-right: 25px;
}

.close {
    position: absolute;
    right: 6px;
    top: 2px;
    color: white;
    font-weight: normal;
}

#sidebar {}

.leftcolumn {
    position: absolute;
    overflow-y: scroll;
    left: 0;
    height: 100%;
}

.rightcolumn {
    position: absolute;
    overflow-y: scroll;
    right: 0;
    height: 100%;
}

#sidebarheader {
    color: white;
}